<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="nav_bar">
        <a href="/" class="lin">
          <div class=" nav ">Home</div>
        </a>
        <a href="/attendance" class="lin" onclick="changetab('att')">
          <div class="attendance nav ">Attendance</div>
        </a>
        <a href="/courses-and-materials" class="lin" onclick="changetab('cam')">
          <div class="courses nav ">Courses & Materials</div>
        </a>
        <a href="/circular" class="lin" onclick="changetab('cc')">
          <div class="circulars nav ">Circulars</div>
        </a>
        <a href="/time-table" class="lin" onclick="changetab('tt')">
          <div class="timetable nav ">Time Table</div>
        </a>
        <a href="/event-calendar" class="lin" onclick="changetab('ec')">
          <div class="eventcalendars nav "> Event Calendar 
           </div>
        </a>
      </div>
</body>
</html>